In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("C://Users//Dell//Downloads//spam.csv",encoding='ISO-8859-1')
#Character encoding is important when dealing with text data because it determines
#how characters are represented in the file. 'ISO-8859-1' is a commonly used encoding,
#also known as Latin-1. You might specify a different encoding if your file contains characters
#that are not compatible with this encoding. In many cases, 'utf-8' is a more commonly used encoding for CSV files.

In [3]:
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [5]:
data=data.drop(['Unnamed: 2',	'Unnamed: 3',	'Unnamed: 4'],axis=1)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [7]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
data.isnull().sum()

v1    0
v2    0
dtype: int64

In [9]:
from sklearn.linear_model import LogisticRegression
lor = LogisticRegression()

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
#is a feature of extraction in NLP (transform text document to numerical representation that Ml can work with.)

In [11]:
from sklearn.metrics import accuracy_score

In [12]:
data.loc[data['v1']== 'spam', 'v1',] = 0
#spam will be shown if 0
data.loc[data['v1']== 'ham', 'v1',] = 1

In [13]:
x=data['v2']
y=data['v1']

In [14]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [15]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=3)

In [17]:
x_train

3075    Mum, hope you are having a great day. Hoping t...
1787                           Yes:)sura in sun tv.:)lol.
1614    Me sef dey laugh you. Meanwhile how's my darli...
4304                Yo come over carlos will be here soon
3266                    Ok then i come n pick u at engin?
                              ...
789                          Gud mrng dear hav a nice day
968             Are you willing to go for aptitude class.
1667    So now my dad is gonna call after he gets out ...
3321    Ok darlin i supose it was ok i just worry too ...
1688                     Nan sonathaya soladha. Why boss?
Name: v2, Length: 4457, dtype: object

In [18]:
y_train

3075    1
1787    1
1614    1
4304    1
3266    1
       ..
789     1
968     1
1667    1
3321    1
1688    1
Name: v1, Length: 4457, dtype: object

In [19]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words = 'english' , lowercase=True)
#stop words are words which doesn't add much meaning to the sentence, igorned (the, he have)
x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [20]:
x_train_features

<4457x7510 sparse matrix of type '<class 'numpy.float64'>'
	with 34758 stored elements in Compressed Sparse Row format>

In [21]:
lor.fit(x_train_features,y_train)

LogisticRegression()

In [22]:
y_pred = lor.predict(x_train_features)

In [23]:
accuracy = accuracy_score(y_train, y_pred)

In [24]:
accuracy

0.9661207089970832

In [25]:
#Good Accuracy

In [26]:
y_test_pred = lor.predict(x_test_features)

In [27]:
accuracy = accuracy_score(y_test, y_test_pred)

In [28]:
accuracy

0.9623318385650225

In [29]:
def Prediction(x):
  input = ["x"]
  input_data_features = feature_extraction.transform(input)

  pred=lor.predict(input_data_features)
  if(pred[0]==1):
    print("Ham Mail")
  else:
    print("Spam Mail")

In [30]:
Prediction("FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, å£1.50 to rcv")

Ham Mail

In [31]:
data.v1.value_counts()

v1
1    4825
0     747
Name: count, dtype: int64

In [32]:
indices_minority = np.where(y == 1)[0]
indices_majority = np.where(y == 0)[0]

In [33]:
num_minority_samples = len(indices_minority)
random_indices_majority = np.random.choice(indices_majority, num_minority_samples, replace=True)
undersampled_indices = np.concatenate((indices_minority, random_indices_majority))
x_undersampled = x[undersampled_indices]
y_undersampled = y[undersampled_indices]
x_train, x_test, y_train, y_test = train_test_split(x_undersampled, y_undersampled, test_size=0.2, random_state=42)

In [34]:
x_train

3942    I got a call from a landline number. . . I am ...
4627    Todays Voda numbers ending with 7634 are selec...
1651    I wan but too early lei... Me outside now wun ...
4040    Please call our customer service representativ...
659     88800 and 89034 are premium phone services cal...
                              ...
2246    Hi ya babe x u 4goten bout me?' scammers getti...
1306    Enjoy the jamster videosound gold club with yo...
2401    Babe: U want me dont u baby! Im nasty and have...
1014                Ya, told..she was asking wats matter?
2895    pdate_Now - Double mins and 1000 txts on Orang...
Name: v2, Length: 7720, dtype: object

In [35]:
y_train

3942    1
4627    0
1651    1
4040    0
659     0
       ..
2246    0
1306    0
2401    0
1014    1
2895    0
Name: v1, Length: 7720, dtype: object

In [36]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words = 'english' , lowercase=True)
#stop words are words which doesn't add much meaning to the sentence, igorned (the, he have)
x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [37]:
lor.fit(x_train_features,y_train)
y_pred = lor.predict(x_train_features)
accuracy = accuracy_score(y_train, y_pred)

In [38]:
accuracy

0.9949481865284974

In [39]:
#Now we got 99% accuracy .Yeah Less go!!!!!

In [40]:
y_test_pred = lor.predict(x_test_features)
accuracy = accuracy_score(y_test, y_test_pred)
accuracy

0.9886010362694301

In [41]:
#And we got 98% accuracy here. Far better !!!!!

In [42]:
Prediction("Urgent UR awarded a complimentary trip to EuroDisinc Trav, Aco&Entry41 Or å£1000. To claim txt DIS to 87121 18+6*å£1.50(moreFrmMob. ShrAcomOrSglSuplt)10, LS1 3AJ")

Ham Mail